<div class="menu">
	<div class="logo">
		Veggie logo tulee tähän
		<p>
			<%= link_to "Ravintolat", restaurants_path %>
		</p>
		<p>
			Haku tulee tähän. 
		</p>
		</div>
		
		<div class="city">
		</div>
		
		<div class="add_restaurant">
			Eikö ravintolaasi löydy vielä Veggiestä?<br>
			<%= link_to "Lisää ravintola", new_restaurant_path %>			
		</div>
	
</div>