<p>
  <%= link_to restaurant.name, restaurant %>
  <% if by_attribute %>
    <%= number_with_precision(restaurant.rating, :precision => 1)%>
  <% else %>
    <%= number_with_precision(restaurant.average_rating, :precision => 1)%>
  <%  end %>
  <%= render :partial => "shared/like", :locals => { :restaurant => restaurant } %>
</p>