<p>
  <% restaurant = toplist[0] %>
  <% review = toplist[1] %>
  <%= link_to restaurant.name, restaurant %>
  <%= review %>
  <%= render :partial => "like", :locals => { :restaurant => restaurant } %>
</p>